.container {
	height: 100vh;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: whitesmoke;
}

img {
	margin: 0 50%;
}

h2 {
	width: 100vw;
	text-align: center;
}
