/* Page-Wide */
body { 
    overflow-x: hidden;
}

h1 {
    color: white;
}

h3 {
    text-align: center;
}

h5 {
    margin-top: 20px;
}

p {
    color: white;
}

section {
    margin-bottom: 50px;
}

.flex-container-start {
    margin: 0 20%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: center;
    justify-content: flex-start;
}

.flex-container-center {
    margin: 0 20%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
}

/* Home */
#hero {
    background-image: url(../images/bg/hero.png);
    background-size: cover;
    margin-top: 0;
}

#hero-content {
    height: 80vh;
}

/* About */

#about {
    padding-top: 90px;
}

.why-content {
    width: 150px;
    text-align: center;
}

#why-text {
    width: 100%;
    text-align: center;
}

#about span {
    background-image: linear-gradient(to top right, #577BAC, #59B7DE);
    border-radius: 50px;
    padding: 10px;
    color: white;
}

#about span:hover {
    opacity: 0.8;
    transition: 0.5s;
}

#about p {
    color: #212121;
}

/* Footer */

footer {
    background-color: #1A1D30;
    padding: 20px 0;
}

.no-margin {
    margin: 0;
}

dl {
    width: 150px;
    height: 125px;
    text-align: center;
}

dt {
    color: white !important;
}

footer p {
    text-align: center;
}

hr {
    text-align: center;
    color: #368FCE;
}

/* Media */

@media only screen and (max-width: 1125px) {
    body {
        text-align: center;
    }
    
    #hero-content {
        margin: 0 10%;
    }
    
    nav a {
        text-align: left;
    }
}